<main>
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <h1 class="pt-5">
          welcome to
          <strong>
            <i class="fas fa-book"></i>
            Bookers
          </strong>
          !!
        </h1>
      </div>
    </div>
  </div>
</main>